body {
	background-color: #a9a9a9;
	background-color: rgb(169, 169, 169);
}

.main-container {
	position: relative;
	top: 60px;
	width: 100%;	
	height: 100%;	
	float: left;
}

.logo {
	position: absolute;
	top: -85px;
	background: url(images/pawn.png) no-repeat left top;
	padding: 100px 100px;
	z-index: 100;
}

.main-menu {
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	display: table;
}

ul {
	list-style-type: none;
	display: table-row;
}

.empty-menu-entry {
	padding: 40px 100px 41px 100px;
	background-color: red;
	background-color: #a9a9a9;
	background-color: rgb(169, 169, 169);
}

ul li {
	padding: 30px 100px 30px 100px;
	float: left;
	margin: 0px 1px 0px 0px;
	background-color: #000000;
	color: #a9a9a9;
	font-size: large;
}

.buttons {
	position: absolute;
	top: 20px;
	right: 10px;
}

.button {
	margin: 0 10px 0 10px;
	float: right;
}
